/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 20, 2026, 12:25:53 PM
    Author     : raren
*/

/*https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/textarea*/
#notification_view textarea {
    resize: none;
    color: white;
    background-color: #141124;
}

#notification_view {
    background: #141124;
    padding: 10px;
    border-radius: 15px;
}