<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!--All Controller mapping-->
    
    <!--Users--> 
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Public</servlet-name>
        <servlet-class>controllers.PublicController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Public</servlet-name>
        <url-pattern>/Public</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Member</servlet-name>
        <servlet-class>controllers.MemberController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>controllers.MessageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Block</servlet-name>
        <servlet-class>controllers.BlockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Block</servlet-name>
        <url-pattern>/Block</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Friends</servlet-name>
        <servlet-class>controllers.FriendsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Friends</servlet-name>
        <url-pattern>/Friends</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>controllers.CommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>controllers.NotficationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    
    
    <!--Roles, Security Constraints, authenticaton config-->
    
    <!--roles-->
    <security-role>
        <description>Administrators</description>
        <role-name>ADMIN</role-name>
    </security-role>
    
    <security-role>
        <description>Members of the site.</description>
        <role-name>MEMBER</role-name>
    </security-role>
    
    <!--constraint containers-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected AreaA</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/Admin/*</url-pattern>
        </web-resource-collection>
        
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>

        <!--<user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected AreaM</web-resource-name>
            <url-pattern>/member/*</url-pattern>
            <url-pattern>/Member/*</url-pattern>
            <url-pattern>/messages/*</url-pattern>
            <url-pattern>/comments/*</url-pattern>
        </web-resource-collection>
        
        <auth-constraint>
            <role-name>MEMBER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>

        <!--<user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data
        </user-data-constraint>-->
    </security-constraint>
    
    <!--Authentication Config-->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/public-authorization/login.jsp</form-login-page>
            <form-error-page>/public-authorization/form-error.html</form-error-page>
        </form-login-config>
    </login-config>
    <!--Session config-->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!--welcome file-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>

