/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 19, 2026, 4:39:35 PM
    Author     : raren
*/


@font-face {
    font-family: 'Koulen';
    src: url('./fonts/Koulen-Regular.ttf');
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./fonts/KumbhSans-VariableFont_YOPQ,wght.ttf');
}

/*classes*/
.pageColor {
    background-color: black;
    color: greenyellow;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.userList {

}

.solidborder {
    border-width: 5px;
    border-style: solid;
    border-color: greenyellow;
}

.box {
    width: 200px;
    height: 100px;
    background-color: grey;
}

.shift-right {
    margin-left: 170px;
}

.shiftRight250px {
    margin-left: 170px;
}

.floatNavLeft {
    float: left;
    width: 200px;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.clearFloat {
    clear: both;
}

/*admin customization*/

/*admin -> admin_level_add_delete_users.jsp customization*/
.admin-form {
    position: relative;
    width: 500px;
    align-items: normal;
    height: 500px;
    margin-left: 250px;
    padding: 1em;
    box-sizing: border-box;
    background: lightslategray;
    color: black;


}

/*member customization*/

/*member -> registration customization*/
.member-register-form {
    position: relative;
    width: 500px;
    align-items: normal;
    height: 500px;
    margin-left: 250px;
    padding: 1em;
    box-sizing: border-box;
    background: lightslategray;
    color: black;

}

.member-login-form {
    position: relative;
    width: 500px;
    align-items: normal;
    height: 500px;
    margin-left: 250px;
    padding: 1em;
    box-sizing: border-box;
    background: lightslategray;
    color: black;

}


.member-form-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 500px;
}



/*elements*/


a {
    color: red;
    text-decoration: blink;
    font-weight: bold;
}

label {  /* lign up the labels */
    margin-right: 25px;
    display: inline-block;
    width: 140px;
    text-align: right;
    padding-top: 10px;
    text-align: left;
}

input {
    margin: 10px;
}

select {
    margin: 10px;
    background-color: lightgreen;
}

a:hover {
    color: azure;
}

nav ul {
    list-style-type: none;
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100%;
    font-family: 'Koulen', sans-serif;
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: #2A2742;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 150px;
    text-shadow: 2px 2px 6px #2a2742;
}

h2 {
    font-size: 96px;
}

h3 {
    font-size: 64px;
    background: linear-gradient(0deg, #1AAED1, #FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #1AA7A7;
}

.gradient_bg {
    position: relative;
    width: 65%;
    background: url(./img/bg.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: end;
    padding: 70px;
    z-index: -2;
}

.gradient_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-20deg, rgba(26, 167, 167, 0.7), rgba(142, 26, 209, 0.7));
    z-index: -1;
}

.login_container {
    width: 35%;
    background-color: #141124;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 32px;
    text-transform: uppercase;
}

.login_links {
    font-size: 40px;
}

.login_links .current {
    color: #1AA7A7;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    background-color: #2A2742;
    border: none;
}

input[type='checkbox'] {
    position: relative;
    appearance: none;
    border: 1px solid #1AA7A7;
    background: transparent;
    accent-color: #1AA7A7;
    width: 20px;
    height: 20px !important;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #1AA7A7;
}

input[type='checkbox']:checked::after {
    position: absolute;
    content: '✔';
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form_container {
    display: flex;
    flex-direction: column;
}

.login-form_container input {
    height: 60px;
    font-size: 30px;
    color: white;
    padding: 5px 10px;
}

.login-form_container label {
    margin-top: 48px;
}

.agreement_container {
    margin: 48px 0;
    line-height: 1;
}

label[for='agreement'] {
    display: inline;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.login-form_container input[type='submit'] {
    background-color: #1AA7A7;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    font-family: 'Koulen', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.login_btn {
    margin-top: 60px;
}
.login-form_container .error_message{
    font-size: 16px;
    color: red;
}

.login-form_container .success_message{
    font-size: 16px;
    color: #1AA7A7;
}


.register-form label{
    margin: 0;
    font-size: 20px;
}

.register-form input:not(input[type='submit']){
    margin: 0;
    height: 40px;
    font-size: 20px;
}

#confPassword{
    margin-bottom: 10px;
}

.register-form input[type='submit']{
    margin: 0;
}
.success_message, .error_message{
    margin-bottom: 10px;
}
/*==============================================================================Main Content ============================================================================ */
body:has(.main_content) {
    padding: 15px;
    gap: 15px;
    height: unset;
}

.left_panel,
.right_panel {
    max-width: 360px;
    height: 97dvh;
    width: 100%;
    position: sticky;
    top: 15px;
}

.left_panel {
    background-color: #141124;
    border-radius: 15px;
}

.profile_info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile_background {
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 80px;
}

.profile_image {
    position: absolute;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.left_panel h5 {
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 20px;
}

.status {
    font-size: 14px;
}

.follow_container {
    border-top: 1px solid #1AAED1;
    border-bottom: 1px solid #1AAED1;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 15px 0;
    margin-bottom: 20px;
}

.following_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.follow_container::after {
    content: "";
    height: 61px;
    top: 15px;
    width: 1px;
    background-color: #1AAED1;
    position: absolute;
    left: 50%;
}

.follow_num {
    font-family: 'Koulen', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.following_container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    font-family: 'Koulen', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #1AAED1;
}

.logout {
    display: block;
    background: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 30px;
    color: #FFF;
    font-family: 'Koulen', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.main_content {
    flex: 1;
}

.main_content>div {
    padding: 30px;
    border-radius: 15px;
}

.make_post_img {
    position: static;
    transform: none;
    width: 75px;
    height: 75px;
}

.make_post_container {
    background-color: #141124;
    display: flex;
    flex-direction: column;
}

.make_post_input {
    display: flex;
    gap: 33px;
    margin-bottom: 20px;
}

.make_post_container textarea {
    flex: 1;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    color: #FFF;
}


.make_post_container textarea::placeholder {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(26, 167, 167, 0.5);
    font-weight: bold;
    font-family: 'Koulen', sans-serif;
}

.button_primary {
    background-color: #1AAED1;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    width: 136px;
    height: 40px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    align-self: flex-end;
}